/* APPLICATION COLOR PALETTE */

/* General colors */
.text-warning2 {
  color: #f8d470 !important;
}
.bg-warning2 {
  background: #f8d470 !important;
}

/* Main color */
.text-m1 {
  color: #e0f2f1 !important;
}
.bg-m1 {
  background: #e0f2f1 !important;
}

.text-m2 {
  color: #b2dfdb !important;
}
.bg-m2 {
  background: #b2dfdb !important;
}

.text-m3 {
  color: #80cbc4 !important;
}
.bg-m3 {
  background: #80cbc4 !important;
}

.text-m4 {
  color: #4db6ac !important;
}
.bg-m4 {
  background: #4db6ac !important;
}

.text-m5 {
  color: #26a69a !important;
}
.bg-m5 {
  background: #26a69a !important;
}

.text-m6 {
  color: #009688 !important;
}
.bg-m6 {
  background: #009688 !important;
}

.text-m7 {
  color: #00897b !important;
}
.bg-m7 {
  background: #00897b !important;
}

.text-m8 {
  color: #00796b !important;
}
.bg-m8 {
  background: #00796b !important;
}

.text-m9 {
  color: #00695c !important;
}
.bg-m9 {
  background: #00695c !important;
}

.text-m10 {
  color: #004d40 !important;
}
.bg-m10 {
  background: #004d40 !important;
}

.text-m11 {
  color: #a7ffeb !important;
}
.bg-m11 {
  background: #a7ffeb !important;
}

.text-m12 {
  color: #64ffda !important;
}
.bg-m12 {
  background: #64ffda !important;
}

.text-m13 {
  color: #1de9b6 !important;
}
.bg-m13 {
  background: #1de9b6 !important;
}

.text-m14 {
  color: #00bfa5 !important;
}
.bg-m14 {
  background: #00bfa5 !important;
}

.text-m14 {
  color: #00bfa5 !important;
}
.bg-m14 {
  background: #00bfa5 !important;
}

.text-m15 {
  color: #01a790 !important;
}
.bg-m15 {
  background: #01a790 !important;
}

/* Background color */
.text-b0 {
  color: #30353b !important;
}
.bg-b0 {
  background: #30353b !important;
}
.text-b1 {
  color: #505050 !important;
}
.bg-b1 {
  background: #505050 !important;
}
.text-b2 {
  color: #353535 !important;
}
.bg-b2 {
  background: #353535 !important;
}
.text-b3 {
  color: #313131 !important;
}
.bg-b3 {
  background: #313131 !important;
}
.text-b4 {
  color: #282828 !important;
}
.bg-b4 {
  background: #282828 !important;
}
.text-b5 {
  color: #222222 !important;
}
.bg-b5 {
  background: #222222 !important;
}
.text-b6 {
  color: #202020 !important;
}
.bg-b6 {
  background: #202020 !important;
}
.text-b7 {
  color: #181818 !important;
}
.bg-b7 {
  background: #181818 !important;
}
.text-b8 {
  color: #141414 !important;
}
.bg-b8 {
  background: #141414 !important;
}
.text-b9 {
  color: #101010 !important;
}
.bg-b9 {
  background: #101010 !important;
}

/* Gray scale */
.text-g1 {
  color: #fafafa !important;
}
.bg-g1 {
  background: #fafafa !important;
}
.text-g2 {
  color: #f5f5f5 !important;
}
.bg-g2 {
  background: #f5f5f5 !important;
}
.text-g3 {
  color: #eeeeee !important;
}
.bg-g3 {
  background: #eeeeee !important;
}
.text-g4 {
  color: #e0e0e0 !important;
}
.bg-g4 {
  background: #e0e0e0 !important;
}
.text-g5 {
  color: #bdbdbd !important;
}
.bg-g5 {
  background: #bdbdbd !important;
}
.text-g6 {
  color: #a9a9a9 !important;
}
.bg-g6 {
  background: #a9a9a9 !important;
}
.text-g7 {
  color: #9e9e9e !important;
}
.bg-g7 {
  background: #9e9e9e !important;
}
.text-g8 {
  color: #757575 !important;
}
.bg-g8 {
  background: #757575 !important;
}
.text-g9 {
  color: #616161 !important;
}
.bg-g9 {
  background: #616161 !important;
}
.text-g10 {
  color: #424242 !important;
}
.bg-g10 {
  background: #424242 !important;
}
.text-g11 {
  color: #303030 !important;
}
.bg-g11 {
  background: #303030 !important;
}
.text-g12 {
  color: #212121 !important;
}
.bg-g12 {
  background: #212121 !important;
}
