.z1 {
  z-index: 1 !important;
}
.z2 {
  z-index: 2 !important;
}
.z3 {
  z-index: 3 !important;
}

.border-5 {
  border-radius: 5px !important;
}
.border-6 {
  border-radius: 6px !important;
}
.border-7 {
  border-radius: 7px !important;
}
.border-8 {
  border-radius: 8px !important;
}
.border-9 {
  border-radius: 9px !important;
}
.border-10 {
  border-radius: 10px !important;
}
