.z1 {
  z-index: 1 !important;
}
.z2 {
  z-index: 2 !important;
}
.z3 {
  z-index: 3 !important;
}

.fs-8 {
  font-size: 8pt !important;
}
.fs-10 {
  font-size: 10pt !important;
}
.fs-9 {
  font-size: 9pt !important;
}
.fs-11 {
  font-size: 11pt !important;
}
.fs-12 {
  font-size: 12pt !important;
}
.fs-13 {
  font-size: 13pt !important;
}
.fs-14 {
  font-size: 14pt !important;
}

.border-5 {
  border-radius: 5px !important;
}
.border-6 {
  border-radius: 6px !important;
}
.border-7 {
  border-radius: 7px !important;
}
.border-8 {
  border-radius: 8px !important;
}
.border-9 {
  border-radius: 9px !important;
}
.border-10 {
  border-radius: 10px !important;
}

.bordered-1 {
  border: 1px solid !important;
}
.dotted-border {
  border: dashed 0.5px !important;
}

.cursor-grabbing {
  cursor: grabbing !important;
  -moz-grabbing: grabbing !important;
}
.cursor-ns-resize {
  cursor: ns-resize !important;
}
.cursor-no-drop {
  cursor: no-drop !important;
}
