$primary   : #1976D2
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #EF5350
$info      : #31CCEC
$warning   : #F2C037

// Background
$b0: #30353B
$b1: #505050
$b2: #353535
$b3: #313131
$b4: #282828
$b5: #222222
$b6: #202020
$b7: #181818
$b8: #141414
$b9: #101010

// Main color
$m1: #E0F2F1
$m2: #B2DFDB
$m3: #80CBC4
$m4: #4DB6AC
$m5: #26A69A
$m6: #009688
$m7: #00897B
$m8: #00796B
$m9: #00695C
$m10: #004D40
$m11: #A7FFEB
$m12: #64FFDA
$m13: #1DE9B6
$m14: #00BFA5

// Gray scale
$g1: #FAFAFA
$g2: #F5F5F5
$g3: #EEEEEE
$g4: #E0E0E0
$g5: #BDBDBD
$g6: #A9A9A9
$g7: #9E9E9E
$g8: #757575
$g9: #616161
$g10: #424242
$g11: #212121
